@import url('https://fonts.cdnfonts.com/css/circular-std');

/* Changing color of text */
h1 {
    margin: auto;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 100px;
    font-size: 90px;
    font-family: "Circular Std", sans-serif;
    opacity: 0.8;
}


iframe {
    display: block;
    margin: auto;
    padding: 10px;
}

.center {@import url('')
    margin: auto;
    width: 50%;
    padding: 10px;
}

#intro-p {
    width: 15em;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: "Circular Std", sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 20px;
}

#authorize-btn {
    display: block;
    margin: auto;
    width: 20%;
    padding: 10px;
    background-color: #1ED760;
    color: white;
    font-size: 35px;
    font-family: "Circular Std", sans-serif;
    border-radius: 10px;
    border: none;
    margin-top: 350px; /* Adjust the margin as needed */
}

#authorize-btn:hover {
    background-color:#1DB954
}

#sign-out {
    display: block;
    margin: auto;
    width: 5%;
    padding: 10px;
    background-color: #1ED760;
    color: white;
    font-size: 20px;
    font-family: "Circular Std", sans-serif;
    border-radius: 10px;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
}

#sign-out:hover {
    background-color:#1DB954
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

/* Style for the buttons */
.next-button, .back-button {
    display: inline-block; /* Use inline-block to have them appear next to each other */
    margin-right: 5px; /* Adjust this value as needed */
    width: 10.1%;
    padding: 10px;
    background-color: #1ED760;
    color: white;
    font-size: 20px;
    font-family: "Circular Std", sans-serif;
    border-radius: 10px;
    border: none;
}

.next-button:hover {
    background-color:#1DB954
}

.back-button:hover {
    background-color:#1DB954
}

.submit-button {
    display: block;
    margin: auto;
    width: 20%;
    padding: 10px;
    background-color: #1ED760;
    color: white;
    font-size: 35px;
    font-family: "Circular Std", sans-serif;
    border-radius: 10px;
    border: none;
    margin-top: 100px;
}

.submit-button:hover {
    background-color:#1DB954
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #272525;
}

#playlist-form label {
    display: block;
    text-align: center;
    color: white;
    font-family: "Circular Std", sans-serif;
    font-size: 70px;
    margin-top: 150px;
}

#playlist-form input {
    display: block;
    margin: auto;
    width: 20%;
    padding: 15px;
    font-size: 35px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    color: #333;
    font-family: "Circular Std", sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.autocomplete-suggestions {
    margin: auto;
    width: 20%;
    padding: 15px;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    z-index: 1;
    display: none; /* Initially hide it */
}

.autocomplete-suggestions.show {
    display: block; /* Show it when there are suggestions */
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}

.suggestion:hover {
    background-color: #f2f2f2;
}

/* Add this to your existing CSS or create a new CSS file */
.artist-container {
    display: flex;
    align-items: center;
}

.artist-image {
    margin-right: 10px; /* Adjust the margin as needed */
}

/* Adding media screen for mobile formatting */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 45px;
        margin-top: 80px;
    }

    #intro-p {
        font-size: 25px;
        top: 35%;
    }

    #authorize-btn {
        width: 60%;
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
        margin-top: 270px; /* Adjust the margin as needed */
    }

    #sign-out {
        width: 20%;
        padding: 12px;
        font-size: 12px;
        border-radius: 10px;
        top: 10px;
        right: 10px;

    }
    
    #playlist-form label {
        font-size: 40px;
        margin-top: 150px;
    }

    #playlist-form input {
        width: 55%;
        padding: 5px;
        font-size: 35px;
        margin-top: 20px;
    }

    .next-button, .back-button {
        width: 25%;
        padding: 10px;
        color: white;
        font-size: 17px;
        border-radius: 10px;
        border: none;
    }

    .submit-button {
        display: block;
        margin: auto;
        width: 50%;
        padding: 10px;
        background-color: #1ED760;
        color: white;
        font-size: 20px;
        font-family: "Circular Std", sans-serif;
        border-radius: 10px;
        border: none;
        margin-top: 100px;
    }

}
