<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Spotify Playlist Generator</title>
    <link rel="stylesheet" href="/static/frontend.css">
</head>
<body>
    <h1>Spotify Playlist Generator</h1>
    <button id="sign-out">Sign Out</button>

    <div id="playlist-form-container"></div>

    <script src="/static/frontend.js"></script>
</body>
</html>

<iframe
    id="spotify-embed"
    title="Spotify Embed: Generated Playlist "
    width="50%"
    height="100%"
    frameBorder="0"
    style="min-height: 640px;"
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
></iframe>
